<head>
<style>
    .cart {
        position: relative;
        display: block;
        width: 28px;
        height: 28px;
        height: auto;
        overflow: hidden;
        .material-icons

    {
        position: relative;
        top: 4px;
        z-index: 1;
        font-size: 24px;
        color: white;
    }

    .count {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        font-size: 11px;
        border-radius: 50%;
        background: #d60b28;
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        text-align: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    }
    * {
        box-sizing: border-box;
    }

    .search-box {
        width: fit-content;
        height: fit-content;
        position: relative;
    }

    .input-search {
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #f81f01;
        padding-right: 40px;
        color: #fff;
    }

        .input-search::placeholder {
            color: rgba(255,255,255,.5);
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100;
        }

    .btn-search {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: transparent;
        pointer-events: painted;
    }

        .btn-search:focus ~ .input-search {
            width: 300px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgba(255,255,255,.5);
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }

    .input-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

        .dropdown-toggle::after {
            display: none;
        }

</style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link  />
</head>
<header class="header-area formobile-menu header--transparent black-logo-version ">
    <div class="header-wrapper" id="header-wrapper">
        <div class="header-left">
            <div class="logo">
                <a href="index.html">
                    <img src="~/assets/images/logo/logo-light.png" alt="Creative Agency Logo">
                </a>
            </div>
        </div>
        <div class="header-right">
            <div class="mainmenunav d-lg-block">
                <!-- Start Mainmanu Nav -->
                <nav class="main-menu-navbar">
                    <ul class="mainmenu">
                        <li>
                            <a asp-controller="Home" asp-action="Index" >Baş Səhifə</a>
                        </li>
                        <li>
                            <a href="#">Kategoriler</a>
                        </li>
                        <li>
                            <a asp-controller="About" asp-action="Index" >Haqqımızda</a>
                        </li>
                        <li>
                            <a asp-controller="Contact" asp-action="Index" >Əlaqə</a>
                        </li>
                        <li>
                            <div style="cursor:pointer" class="cart" onclick="window.location.href='/Basket';">
                                <span class="count">1</span>
                                <!--   <span class="count">1</span> -->
                                <i class="material-icons">shopping_cart</i>
                            </div>
                        </li>
                       @* <li>
                            <div class="search-box">
                                <button class="btn-search"><i class="fas fa-search"></i></button>
                                <input type="text" class="input-search" placeholder="Type to Search...">
                            </div>
                        </li>*@
                    </ul>
                </nav>
                <!-- End Mainmanu Nav -->

            </div>
            @*<div class="header-btn">
                <a class="rn-btn" href="#">
                    <span>buy now</span>
                </a>
            </div>*@
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/Account/Login" style="color:white">Login</a>
            }
            else
            {
                
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </div>
            }
            <!-- Start Humberger Menu  -->
            <div class="humberger-menu d-block d-lg-none pl--20">
                <span class="menutrigger text-white">
                    <i data-feather="menu"></i>
                </span>
            </div>
            <!-- End Humberger Menu  -->
            <!-- Start Close Menu  -->
            <div class="close-menu d-block d-lg-none">
                <span class="closeTrigger">
                    <i data-feather="x"></i>
                </span>
            </div>
            <!-- End Close Menu  -->
        </div>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDBootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.1/js/mdb.min.js"></script>
