
<style>
    * {
        box-sizing: border-box;
    }

    .search-box {
        width: fit-content;
        height: fit-content;
        position: relative;
    }

    .input-search {
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #f81f01;
        padding-right: 40px;
        color: #fff;
    }

        .input-search::placeholder {
            color: rgba(255,255,255,.5);
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100;
        }

    .btn-search {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: transparent;
        pointer-events: painted;
    }

        .btn-search:focus ~ .input-search {
            width: 300px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgba(255,255,255,.5);
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }

    .input-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

</style>
<header class="header-area formobile-menu header--transparent black-logo-version ">
    <div class="header-wrapper" id="header-wrapper">
        <div class="header-left">
            <div class="logo">
                <a href="index.html">
                    <img src="~/assets/images/logo/logo-light.png" alt="Creative Agency Logo">
                </a>
            </div>
        </div>
        <div class="header-right">
            <div class="mainmenunav d-lg-block">
                <!-- Start Mainmanu Nav -->
                <nav class="main-menu-navbar">
                    <ul class="mainmenu">
                        <li>
                            <a asp-controller="Home" asp-action="Index" >Baş Səhifə</a>
                        </li>
                        <li>
                            <a href="#">Kategoriler</a>
                        </li>
                        <li>
                            <a asp-controller="About" asp-action="Index" >Haqqımızda</a>
                        </li>
                       @* <li class="has-droupdown">
                            <a href="blog.html">Pages</a>
                            <ul class="submenu">
                                <li> <a href="blog.html">Blog List</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="service-details.html">Service Details</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                <li><a href="404.html">404 Page</a></li>
                            </ul>
                        </li>*@
                        @*<li class="has-droupdown">
                            <a href="#">Blocks</a>
                            <ul class="submenu">
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="video-popup.html">Video Popup</a></li>
                                <li><a href="progressbar.html">Progress Bar</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="counterup.html">Counters</a></li>
                                <li><a href="blog.html">Blog List</a></li>
                                <li><a href="brand.html">Client Logo</a></li>
                                <li><a href="contact-form.html">Contact Form</a></li>
                                <li><a href="columns.html">Columns</a></li>
                                <li><a href="button.html">Button</a></li>
                                <li><a href="liststyle.html">List Style</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                                <li><a href="accordion.html">Accordion</a></li>
                                <li><a href="pricing-plan.html">Pricing Plan</a></li>
                            </ul>
                        </li>*@
                        <li>
                            <a asp-controller="Contact" asp-action="Index" >Əlaqə</a>
                        </li>
                       @* <li>
                            <div class="search-box">
                                <button class="btn-search"><i class="fas fa-search"></i></button>
                                <input type="text" class="input-search" placeholder="Type to Search...">
                            </div>
                        </li>*@
                    </ul>
                </nav>
                <!-- End Mainmanu Nav -->

            </div>
            <div class="header-btn">
                <a class="rn-btn" href="#">
                    <span>buy now</span>
                </a>
            </div>
            <!-- Start Humberger Menu  -->
            <div class="humberger-menu d-block d-lg-none pl--20">
                <span class="menutrigger text-white">
                    <i data-feather="menu"></i>
                </span>
            </div>
            <!-- End Humberger Menu  -->
            <!-- Start Close Menu  -->
            <div class="close-menu d-block d-lg-none">
                <span class="closeTrigger">
                    <i data-feather="x"></i>
                </span>
            </div>
            <!-- End Close Menu  -->
        </div>
    </div>
</header>
